.Rproj.user
.Rhistory
.RData
.Ruserdata
.gitignore
.gitattributes
.tex
.log
.json
*.qmd
/.quarto/
/old-files/
Rplots.pdf
/data/Ignore/
rev_temp.csv
exp_temp.csv
allexpfiles22.csv
allrevfiles.csv
sankeyattemp2022.csv
federalcoviddollars.xlsx
fedCUREexpenditures.xlsx
